body , html {
    width: 100%;
    height: 100%;
    font-family: 'Poppins' , sans-serif;
}
* { 
    margin: 0; padding: 0; 
}
section
{ 
    position: fixed;
    width: 100%;
    height: 100%;
}
canvas
{   
    display: block;
    -webkit-box-shadow: 0 0 8px #d2d2d2;
    margin:10px auto 0;
    cursor: default;
}

button
{
    outline: 0;
    border: 0;
}
#header {
    position: fixed;
    background: white;
    width: 100%;
    height: 70px;
    z-index: 999;
    -webkit-box-shadow: 0 0 15px #d2d2d2;
}
#color {
    border: 4px solid #6b6b6b33;
    width: 28px;
    border-radius: 5px;
}
#title {
    padding-top: 14px;
    color: #2f2f2f;
    text-align: center;
    font-size: 22px;
    width: 100%;
    position: fixed;
}
#name {
    position: absolute;
    margin-top: 20px;
    margin-left: 45px;
    font-weight: 500;
    color: #6213c3;
}
.menupanel {
    color: white;
    text-align: center;
}

.tools
{
    width: 800px;
    height: 135px;
    margin: 0px auto;
}

.colors-button {
width: 24px;
height: 24px;
margin-top: 10px;
border-radius: 20%;
margin-left: 3px;
border: 3px solid rgba(0, 0, 0, 0.29);
cursor:pointer;
}
.colors button:hover { 
     width: 25px;
     height: 25px;
 }
.extratools
{
    width: 100%;
    height: 115px;
}

.extratools button
{
    width: 20%;
    height: 50px;
    margin-top: 5px;
    background: #303030;
    color: white;
    cursor: pointer;
    float: left;
}
.extratools button:hover { opacity: 0.5; 
 -webkit-box-shadow: 0 0 8px black;}

#clearCanvas {font-size: 25px;}
#brushSize {
    font-size: 18px;
    font-family: 'Poppins' , sans-serif;
    background: transparent;
    cursor: pointer;
    width: 100%;
}
#brushSize:hover {
    background: #f0f0f0;
}
#brushStyle {
    font-size: 18px;
    font-family: 'Poppins' , sans-serif;
    background: transparent;
    cursor: pointer;
    width: 100%;
}
#brushStyle:hover {
    background: #f0f0f0;
}
 .extratools #openFile {font:25px existence;}

#file {visibility: hidden;}
