body , html {
    height: 100%;
    font-family: 'Poppins' , sans-serif;
}
* { 
    margin: 0; padding: 0; 
}
header {
    position: fixed;
    background: white;
    width: 100%;
    height: 65px;
    z-index: 999;
    -webkit-box-shadow: 0 0 15px #d2d2d2;
}
section
{
    padding-top: 100px;
    padding-bottom: 20px;
}

canvas
{
    display: block;
    border: 1px solid black;
    margin: 10px auto 0px; 
}

button
{
    outline: 0;
    border: 0;
}
.title {
    padding-top: 14px;
    color: #2f2f2f;
    text-align: center;
    font-size: 22px;
    width: 100%;
    position: fixed;
}
.menupanel {
    color: white;
    text-align: center;
}

.tools
{
    width: 800px;
    height: 135px;
    margin: 0px auto;
}
.colors-button {
width: 24px;
height: 24px;
margin-top: 10px;
border-radius: 20%;
margin-left: 3px;
border: 3px solid rgba(0, 0, 0, 0.29);
cursor:pointer;
}
.colors button:hover { 
     width: 25px;
     height: 25px;
 }

#white { 
    background: white; 
}
#silver {
    background: #b1adad;
}
#dark {
    background: #444;
}
#black {
    background: black;
}
#red1 {
    background: #ff9797;
}
#red2 {
    background: #f35e5e;
}
#red3 { 
    background: red; 
}
#red4 {
    background: #9c0000;
}
#orange1 {
    background: #ffa16e;
}
#orange2 {
    background: #ff7e38;
}
#orange3 {
    background: #db4905;
}
#brown {
    background: #9b3000;
}
#yellow1 {
    background:  #f8ed7c;
}
#yellow2 {
    background: #e8f55c;
}
#yellow3 {
    background: #a4b300;
}
#yellow4 {
    background: #899600;
}
#lightgreen1 {
    background: #daffae;
}
#lightgreen2 {
    background: #b9fc6a;
}
#lightgreen3 {
    background: #87f900;
}
#lightgreen4 {
    background: #5da803;
}
#green1 {
    background: #aeffc0;
}
#green2 {
    background: #64fb86;
}
#green3 {
    background: #00ff39;
}
#green4 {
    background: #009e23;
}
#cyan1 {
    background: #a9ffda;
}
#cyan2 {
    background: #59ffb8;
}
#cyan3 {
    background: #00ff92;
}
#cyan4 {
    background: #009f5b;
}
#lightblue1 {
    background: #88feed;
}
#lightblue2 {
    background: #47fde3;
}
#lightblue3 {
    background: #00e4c3;
}
#lightblue4 {
    background: #00a48c;
}
#blue1 {
    background: #a4c2ff;
}
#blue2 {
    background: #528bff;
}
#blue3 {
    background: #0054fe;
}
#blue4 {
    background: #0038a9;
}
.extratools
{
    width: 100%;
    height: 115px;
}

.extratools button
{
    width: 20%;
    height: 50px;
    margin-top: 5px;
    background: #303030;
    color: white;
    cursor: pointer;
    float: left;
}
.extratools button:hover { opacity: 0.5; 
 -webkit-box-shadow: 0 0 8px black;}

#clearCanvas {font-size: 25px;}
#brushSize {
    font-size: 18px;
    font-family: 'Poppins' , sans-serif;
    background: transparent;
    cursor: pointer;
    width: 100%;
    color: #686868;
}
#brushSize:hover {
    background: #f0f0f0;
}
 #fillCanvas {font: 25px impact;}
 .extratools #openFile {font:25px existence;}

#file {visibility: hidden;}
