* { 
    margin: 0; padding: 0; 
}
html {
    height: 100%;
}
body {
    height: 100%;
}
section {
    padding-top: 50px;
}

canvas {
    display: block;
    margin: 0px auto 0px; 
}

button {
    outline: 0;
    border: 0;
}
#header {
    position: fixed;
    background: white;
    width: 100%;
    height: 50px;
    -webkit-box-shadow: 0 0 10px #d4d4d4;
}
.title {
    line-height: 45px;
    font-family: 'Montserrat' , sans-serif;
    color: #717171;
    font-size: 26px;
    text-align: center;
    font-weight: 600;
    text-shadow: 0 0 1px #ababab;
}
#tools {
    position: absolute;
    width: 180px;
    height: 92%;
    margin-left: 2px;
    -webkit-box-shadow: 0 0 8px #d4d4d4;
}

#colores {
    width: 100%;
    height: 20px;
}

#colores button
{
    width: 20%;
    height: 10px;
    margin-top: 5px;
    float: left;
}
#colores button:hover { 
    opacity: 0.5; 
    -webkit-box-shadow: 0 0 8px black;
}

#black { 
    background: black; 
}
#red { 
    background: red; 
}
#green { 
    background: lightgreen; 
}
#yellow { 
    background: yellow; 
}
#blue { 
    background: lightblue; 
}
#otrasHerramientas
{
    width: 100%;
    height: 60px;
}

#otrasHerramientas button
{
    width: 100%;
    height: 50px;
    margin-top: 5px;
    background: #303030;
    color: white;
    font: 25px impact;
    cursor: pointer;
}
#otrasHerramientas button:hover {
 opacity: 0.5; 
 -webkit-box-shadow: 0 0 8px black;
}
 
p {
    background:grey;
    color:white;
    text-align:center;
}
